

table {
  width: 100%;
  border: 2px solid black;
  margin-top: 10px;
  font-size: 12px;
}

table th, table td {
  padding: 3px;
  border: 1px solid #999;
}

table th {
  background-color: #ccc;
}

input[type="text"], input[type="date"], input[type="checkbox"] {
  width: 100%;
  font-size: 12px;
  margin-top: 5px;
}

form > div {
  margin-bottom: 15px;
}

button {
  font-size: 12px;
  width: 100%;
}

label {
  font-size: 14px;
}
